@media (min-width: 426px ){
    #projects-table-container{
        margin-top: 2rem;
        margin-left: 4rem ;
        margin-right: 4rem ;
        width: 75%;
    }
}
@media (max-width: 426px ){
    #projects-table-container{
        margin-top: 2rem;
        margin-left: 1.3rem ;
    }
}